/build
/release
/Users/shaoxiangsum/Documents/Android/PersonifyAndroid/keystore.properties
/Users/shaoxiangsum/Documents/Android/PersonifyAndroid/app/src/main/res/values/keys.xml
/Users/shaoxiangsum/Documents/Android/PersonifyAndroid/.idea
/Users/shaoxiangsum/Documents/Android/PersonifyAndroid/app/google-services.json